html {
  height: 100%;
  width: 100%;
  background-color: #5175AD;
}

.main_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  height: 100%;
  margin-left: 110px;
  font-family: ‘PT Sans’, sans-serif;
  background-color: #39547f;
  color: #DAEAFF;
}

h1 {
  margin-left: 60px;
  margin: 0px;
  color: #DAEAFF;
}

a {
  text-decoration: none;
  color: #DAEAFF;
}

.ppf {
  padding: auto;
  margin: 0px;
  font-size: 24px;
}

.content_main {
  width: 80%;
  height: 1500px;
  background-color: #466494;
  margin-left: 130px;
}

.main_text {
  display: flex; 
  justify-content: space-around;
  width: 90%;
  margin: 20px;
}

p {
  margin: 20px;
  color: #DAEAFF;
  font-size: 24px;
  text-align: left;
}

h2{
  margin-top: 0px;
  padding-top: 50px;
  margin-left: 50px;
  color: #DAEAFF;
}

img {
  width: 450px;
  height: 450px;
  margin: 20px;
}

h3 {
  margin-top: 0px;
  padding: 20px;
  color: #DAEAFF;
  font-size: 24px;
  text-align: center;
}

th {
  color: #DAEAFF;
  background-color: #5175AD;
}

table {
  border: 2px double #2e4468;
  margin-left: 100px;
  margin-right: 100px;
}

td {
  font-size: 16px;
  width: 250px;
  color: #DAEAFF;
  background-color: #5175AD;
  border: 2px double #2e4468;
}

td:nth-child(2) {
  width: 2000px;
}
